/*======================
RESET
=======================*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Press Start 2P', cursive;
  background: black;
  color: #00ff00;
  text-align: center;
  font-size: 18px; }

header {
  padding: 75px 0 25px; }
  header h1 {
    font-size: 1.4em; }

button,
input {
  background: #222222;
  border: 1px solid #191919;
  text-align: center;
  height: 50px;
  min-width: 300px;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 0.5px; }
  button:focus,
  input:focus {
    outline: none !important;
    border: 1px solid #00ff00;
    box-shadow: none; }

input {
  width: 80%;
  color: #00ff00;
  margin-bottom: 10px; }

button {
  display: block;
  margin: 10px auto 5px;
  border-radius: 0;
  padding: 15px 30px;
  cursor: pointer;
  color: rgba(0, 255, 0, 0.5); }
  button:hover {
    background: #1b1b1b;
    color: #00ff00;
    border: 1px solid #00ff00; }

section {
  padding: 50px 0; }
  section > header {
    padding: initial; }
  section h2 {
    margin-bottom: 20px;
    font-size: 0.8em; }
    section h2:after, section h2:before {
      content: ' =*=*= '; }
  section p {
    font-size: 0.5em;
    margin: 15px 0;
    letter-spacing: 2px; }
    section p span {
      color: red;
      letter-spacing: 2px; }
  section#keyboard .arrow-wrapper {
    margin-top: 20px; }
    section#keyboard .arrow-wrapper:last-child {
      margin-top: 12px; }
    section#keyboard .arrow-wrapper .keys {
      border: 1px solid #00ff00;
      display: inline-block;
      width: 80px;
      height: 80px;
      position: relative;
      font-size: 2em; }
      section#keyboard .arrow-wrapper .keys .fa {
        position: relative;
        top: 20%; }
  section#history #history-wrapper {
    width: 700px;
    min-height: 200px;
    max-width: 85%;
    border: 2px solid #00ff00;
    margin: 0 auto;
    padding: 5px 20px;
    text-align: left; }
    section#history #history-wrapper #history-ul {
      font-size: 0.5em;
      line-height: 1.4;
      list-style-type: decimal;
      padding-left: 22px; }
  section#history #travel-log-print {
    text-align: left;
    width: 400px;
    margin: 0 auto;
    background: #222222;
    list-style-type: decimal;
    padding-left: 40px; }
    section#history #travel-log-print li {
      padding: 7px;
      font-size: 0.45em;
      line-height: 1.6;
      color: rgba(0, 255, 0, 0.5); }

#modal-aviso {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(34, 34, 34, 0.95); }
  #modal-aviso .warning {
    font-size: 5em;
    line-height: 1; }
  #modal-aviso #modal-content, #modal-aviso #modal-reload {
    width: 400px;
    max-width: 100%;
    border: 1px solid rgba(0, 255, 0, 0.5);
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 30%;
    line-height: 2; }
  #modal-aviso #modal-content p {
    font-size: .6em;
    line-height: 1.5;
    margin-top: 20px; }
  #modal-aviso #modal-reload {
    border: none;
    width: initial; }
    #modal-aviso #modal-reload button {
      background: rgba(0, 0, 0, 0.25);
      border-color: #00ff00;
      color: #00ff00; }

::-webkit-input-placeholder {
  color: rgba(0, 255, 0, 0.5);
  font-size: 0.65em;
  letter-spacing: 0; }

::-moz-placeholder {
  color: rgba(0, 255, 0, 0.5);
  font-size: 0.65em;
  letter-spacing: 0; }

:-ms-input-placeholder {
  color: rgba(0, 255, 0, 0.5);
  font-size: 0.65em;
  letter-spacing: 0; }

:-moz-placeholder {
  color: rgba(0, 255, 0, 0.5);
  font-size: 0.65em;
  letter-spacing: 0; }

/*# sourceMappingURL=estilos.css.map */
