@import 'reset';
$verde: #00ff00;
$verde-dark: rgba(0, 255, 0, .5);
/* ======================
Tags y helpers
====================== */
body {
    font-family: 'Press Start 2P', cursive;
    background: black;
    color: $verde;
    text-align: center;
    font-size: 16px;
}

header {
    padding: 25px 0;

    h1 {
        font-size: 1.4em;
    }
}

button,
input {
    background: #222222;
    border: 1px solid #191919;
    text-align: center;
    height: 50px;
    min-width: 300px;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0.5px;

    &:focus {
        outline: none !important;
        border: 1px solid $verde;
        box-shadow: none;
    }
}

input {
    width: 80%;
    color: $verde;
    margin-bottom: 10px;

    &[type=radio] {
        width: initial;
    }
}

button {
    display: block;
    margin: 10px auto 5px;
    border-radius: 0;
    padding: 15px 30px;
    cursor: pointer;
    color: $verde-dark;

    &:hover {
        background: #1b1b1b;
        color: $verde;
        border: 1px solid $verde;
    }
}
/* ======================
Columnas
====================== */
.column-container {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .col {
        float: left;
    }

    .col-6 {
        width: 50%;
    }
}
/* ======================
Secciones
====================== */
section {
    padding: 30px 0;

    & > header {
        padding: initial;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 0.75em;

        &:after,
        &:before {
            content: ' =*= ';
        }
    }

    p {
        font-size: 0.5em;
        margin: 15px 0;
        letter-spacing: 2px;

        span {
            color: red;
            letter-spacing: 2px;
        }
    }

    &#select-rover {
        button {
            display: inline-block;

            &.active {
                border-color: $verde;
                color: $verde;
                background: black;
            }
        }

        #selected-rover-wrap {
            font-size: 0.5em;
            color: yellow;
            border: 1px solid yellow;
            width: 270px;
            max-width: 100%;
            padding: 10px 0;
            margin: 15px auto 0;
            background: #222222;
        }
    }

    &#keyboard {
        .arrow-wrapper {
            margin-top: 20px;

            &:last-child {
                margin-top: 12px;
            }

            .keys {
                border: 1px solid $verde;
                display: inline-block;
                width: 40px;
                height: 40px;
                position: relative;
                font-size: 1em;

                .fa {
                    position: relative;
                    top: 20%;
                }
            }
        }
    }

    &#history {
        #history-wrapper {
            width: 700px;
            min-height: 200px;
            max-width: 85%;
            border: 2px solid $verde;
            margin: 0 auto;
            padding: 5px 20px;
            text-align: left;

            #history-ul {
                font-size: 0.5em;
                line-height: 1.4;
                list-style-type: decimal;
                padding-left: 22px;
            }
        }

        #travel-log-print {
            text-align: left;
            width: 400px;
            margin: 0 auto;
            background: #222222;
            list-style-type: decimal;
            padding-left: 40px;

            li {
                padding: 7px;
                font-size: 0.45em;
                line-height: 1.6;
                color: $verde-dark;
            }
        }
    }
}
/* ======================
Modal
====================== */
#modal-aviso {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(34, 34, 34, 0.95);

    .warning {
        font-size: 5em;
        line-height: 1;
    }

    #modal-content,
    #modal-reload {
        width: 400px;
        max-width: 100%;
        border: 1px solid $verde-dark;
        margin: 0 auto;
        padding: 20px;
        position: relative;
        top: 30%;
        line-height: 2;
    }

    #modal-content {
        p {
            font-size: 0.6em;
            line-height: 1.5;
            margin-top: 20px;
        }
    }

    #modal-reload {
        border: none;
        width: initial;

        button {
            background: rgba(0, 0, 0, 0.25);
            border-color: $verde;
            color: $verde;
        }
    }
}
/* ======================
Otros
====================== */
::-webkit-input-placeholder {
    color: $verde-dark;
    font-size: 0.65em;
    letter-spacing: 0;
}

::-moz-placeholder {
    color: $verde-dark;
    font-size: 0.65em;
    letter-spacing: 0;
}

:-ms-input-placeholder {
    color: $verde-dark;
    font-size: 0.65em;
    letter-spacing: 0;
}

:-moz-placeholder {
    color: $verde-dark;
    font-size: 0.65em;
    letter-spacing: 0;
}
