@import 'reset';
$verde: #00ff00;
$verde-dark: rgba(0, 255, 0, .5);

body {
    font-family: 'Press Start 2P', cursive;
    background: black;
    color: $verde;
    text-align: center;
    font-size: 18px;
}

header {
    padding: 75px 0 25px;

    h1 {
        font-size: 1.4em;
    }
}

section {
    padding: 50px 0;

    & > header {
        padding: initial;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 0.8em;

        &:after,
        &:before {
            content: ' =*=*= ';
        }
    }

    p {
        font-size: 0.5em;
        margin: 15px 0;
        letter-spacing: 2px;

        span {
            color: #ABFFFE;
            letter-spacing: 2px;
        }
    }

    button,
    input {
        background: #222222;
        border: 1px solid #191919;
        text-align: center;
        height: 50px;
        min-width: 300px;
        font-family: 'Press Start 2P', cursive;
        letter-spacing: 0.5px;

        &:focus {
            outline: none !important;
            border: 1px solid $verde;
            box-shadow: none;
        }
    }

    input {
        width: 80%;
        color: $verde;
        margin-bottom: 10px;
    }

    button {
        display: block;
        margin: 10px auto 5px;
        border-radius: 0;
        padding: 15px 30px;
        cursor: pointer;
        color: $verde-dark;

        &:hover {
            background: #1b1b1b;
            color: $verde;
            border: 1px solid $verde;
        }
    }

    &#keyboard {
        .arrow-wrapper {
            margin-top: 20px;

            .keys {
                border: 1px solid $verde;
                border-radius: 4px;
                display: inline-block;
                width: 80px;
                height: 80px;
                position: relative;
                font-size: 2em;

                .fa {
                    position: relative;
                    top: 20%;
                }
            }
        }
    }

    &#history {
        #history-wrapper {
            width: 700px;
            min-height: 200px;
            // max-height: 500px;
            // overflow-y: scroll;
            max-width: 100%;
            border: 2px solid $verde;
            margin: 0 auto;
            padding: 5px 20px;
            text-align: left;

            #history-ul {
                font-size: 0.5em;
                line-height: 1.4;
                list-style: disc;
            }
        }

        #travel-log-print {
            text-align: left;
            width: 400px;
            margin: 0 auto;
            background: #222222;

            p {
                padding: 7px;
                font-size: 0.45em;
                line-height: 1.6;
                color: $verde-dark;
            }
        }
    }
}

::-webkit-input-placeholder {
    color: $verde-dark;
    font-size: 0.75em;
}

::-moz-placeholder {
    color: $verde-dark;
    font-size: 0.75em;
}

:-ms-input-placeholder {
    color: $verde-dark;
    font-size: 0.75em;
}

:-moz-placeholder {
    color: $verde-dark;
    font-size: 0.75em;
}
